:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.l-purple {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.about-paragraphs {
  background-color: var(--secondary-color);
}

@media (max-width: 576px) {
  .weather-app-pic,
  .yoga-pic,
  .yogurt-pic {
    display: none;
  }

  p,
  h3,
  .about-paragraphs {
    text-align: center;
    font-size: 23px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
h4 {
  font-size: 23px;
}
